* {
    box-sizing: border-box;
}

/* ------------------------------------------------ */
#main-container {
    border: 1px solid black;
    width: 500px;
    height: 300px;
}

/* ----------------------------------------------- */
#header-container {
    height: 15%;
    background-color: gray;
    color: aliceblue;
}

/* ---------------------------------------------------- */
#body-container2  {
    height: 70% ;
}

.div {
    height: 100%;
    display: inline-block;
}

#body-container2 > .div:nth-of-type(1) {
    background-color: skyblue;
    height: 100%;
    width: 20%;
}

#body-container2 > .div:nth-of-type(2) {
    background-color: lightgrey;
    height: 100%;
    width: 65%;
}

#body-container2 > .div:nth-of-type(3) {
    background-color: rgb(255, 115, 0);
    height: 100%;
    width: 15%;
}

/* ---------------------------------------------------- */
#footer-container {
    height: 15%;
    background-color: gray;
    color: aliceblue;
}

/* 문제 1 */

.container {
    display: flex;
    flex-direction: column;

    width: 500px;
    height: 300px;
}

.header, .footer {
    background-color: grey;
    flex-basis: 20%;
}

.body {
    flex-basis: 60%;
    display: flex;
}

.left {
    flex-basis: 30%;
    background-color: springgreen
}

.center {
    flex-basis: 50%;
    background-color: pink;
}

.right {
    flex-basis: 20%;
    background-color: red;
}