/* color 속성 */

#color-ul > li {
    font-size: 24px;
    font-weight: bold;
}

#color-ul > li:nth-child(1) {
    color: red;
}

#color-ul > li:nth-child(2) {
    color: #8918F5;
}

#color-ul > li:nth-child(3) {
    color: rgb(50, 100, 150); /* 0 ~ 255 */
}

#color-ul > li:nth-child(4) {
    color: rgba(255, 0, 0, 0.3);
}

#color-ul > li:nth-child(5) {
    color: hsl(360, 100%, 50%);
}

#color-ul > li:nth-child(6) {
    color: hsl(240, 100%, 50%, 0.5);
}

/* ---------------------------------------- */

/* text-decoration */
/* 텍스트에 줄 긋기 */

#deco-ul > li:nth-child(1) {
    text-decoration: underline;
}

#deco-ul > li:nth-child(2) {
    text-decoration: line-through;
}

#deco-ul > li:nth-child(3) {
    text-decoration: overline;
}

#deco-ul > li:nth-child(4) > a {
    text-decoration: none;
}

/* -------------------------------------- */

/* text-align */
#align-test {
    width: 350px;
    border: 2px solid black;
}

#align-test > p:nth-child(1) {
    text-align: left; /* 기본값 */
}

#align-test > p:nth-child(2) {
    text-align: right;
}

#align-test > p:nth-child(3) {
    text-align: center;
}

#align-test > p:nth-child(4) {
    text-align: justify;
}

#div1 > div {
    width: 50px;
    height: 50px;
    background-color: red;
    display: inline-block;
}
/* inline-block도 적용되는지 확인 */
#div1 {
    text-align: center;
}




